.mainDiv {
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
}

.ListBar {
  width: 45%;
  background-color: pink;
}
.ulList {
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: space-evenly;
  height: 3rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 100%;
}
.NavLi {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.downKey {
  font-size: 1rem;
  transition: transform 150ms ease; /* Add a transition to animate the rotation */
  transform: rotate(0deg); /* Set the initial rotation */
}

.NavLi:hover .downKey {
  transform: rotate(180deg);
}
.NavLi:hover {
  border-radius: 0.5rem;
  background-color: rgb(241, 242, 244);
  border: 1px solid rgb(161, 161, 161);
}

.second {
  width: 6rem;
  display: flex;
}

.third {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
}

.searchBox {
  background-color: rgb(240, 245, 255);
  width: 40%;
  height: 3rem;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 4rem;
}

.searchField {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
}
.searchIcon {
  font-size: 1.5rem;
  color: #999;
  margin-right: 0.5rem;
}

.inputField {
  width: 80%;
  height: auto;
  outline: none;
  border: none;
  color: black;
  background: transparent;
  font-size: 1.2rem;
}
.user {
  margin-right: 0.75rem;
}

.img {
  width: 1.5rem;
  height: 1.5rem;
}

.hoverul {
  /* list-style: none;
  line-height: 1.6rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; */
  display: grid;
  gap: 20px;
}
.grip {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  font-size: 1.1rem;
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}

.HoverList {
  position: absolute;
  padding: 1rem;
  box-shadow: 0 4px 16px 0 rgb(0 0 0/20%);
  top: 9%;
  background-color: white;
  display: none;
}
span {
  width: 12rem;
}

.first:hover .HoverList {
  display: block;
}

/* Drop Down componant style three dot style */

.DropDownMain {
  position: absolute;
  right: 5%;
  font-size: 1.3rem;
  top: 8%;
  box-shadow: 0 4px 16px 0 rgb(0 0 0/20%);
  background-color: white;
  height: 12rem;
  display: none;
  cursor: pointer;
  padding: 1rem;
  color: rgb(78, 78, 78);
}
.DropDownUl {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fourth {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insideFourth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insideFourth:hover {
  border-radius: 0.5rem;
  background-color: rgb(241, 242, 244);
  border: 1px solid rgb(161, 161, 161);
}
.fourth:hover .DropDownMain {
  display: block;
}

/* making responsive navigation bar at width 768-px
 */

.resMainDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: min-content;
  padding-top: 0.6rem;
  background-color: white;
  color: rgb(9, 9, 9);
}
.resSearch,
.resAbove {
  width: 95%;
}

.resAbove {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resNavLi {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mainDiv,
  .NavLi,
  .third,
  .fourth,
  .cartPara,
  .dropDiv {
    display: none;
  }
  .resMainDiv,
  .resNavLi {
    display: flex;
  }

  .resNavLi p {
    margin-left: 0.5rem;
  }
  .resNavLi {
    font-size: 1.3rem;
    font-family: inter_regular, fallback-inter_regular, Arial;
  }

  .resMainDiv {
    min-width: 100%;
    font-size: 1rem;
  }
  .resAbove {
    margin-bottom: 0.5rem;
  }
  .searchBox {
    min-width: 100%;
  }
  .leftmenu {
    font-size: 2rem;
    color: rgb(9, 9, 9);
    margin-right: 0.2rem;
    padding: 0.1rem;
  }
  .logo {
    margin-right: 4rem;
  }

  .user {
    font-size: 1.4rem;
    color: rgb(9, 9, 9);
  }
}
